---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        ELPROG Developer Blog
      </span>
    </h1>
    <p class="text-2xl pb-4">Web Developer. Electronic Programming. Blogger.</p>
  </div>
  <div class="mb-4">
    <p>
      Hi, my name is Eason, and I'd like to accredit everything that I included in this blog website where credit is at due. Therefore, please feel free to let me know if there is still any unaccredited. I'm pretty much obliged to listen to any requests sent in <a href="mailto:deveaston@gmail.com">my work email</a>.
    </p>
  </div>
</section>
